/*********************
// Imports
*********************/
/* Global */
/*********************
// Breakpoints
*********************/
/* Define breakpoints */
/* Define media query */
/*********************
// Fonts
*********************/
/* Font Family - Product Sans */
@font-face {
  font-family: "Product Sans";
  src: url("../font/ProductSans-Regular.eot");
  src: url("../font/ProductSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProductSans-Regular.woff2") format("woff2"), url("../font/ProductSans-Regular.woff") format("woff"), url("../font/ProductSans-Regular.ttf") format("truetype"), url("../font/ProductSans-Regular.svg#ProductSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../font/ProductSans-Italic.eot");
  src: url("../font/ProductSans-Italic.eot?#iefix") format("embedded-opentype"), url("../font/ProductSans-Italic.woff2") format("woff2"), url("../font/ProductSans-Italic.woff") format("woff"), url("../font/ProductSans-Italic.ttf") format("truetype"), url("../font/ProductSans-Italic.svg#ProductSans-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../font/ProductSans-Bold.eot");
  src: url("../font/ProductSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProductSans-Bold.woff2") format("woff2"), url("../font/ProductSans-Bold.woff") format("woff"), url("../font/ProductSans-Bold.ttf") format("truetype"), url("../font/ProductSans-Bold.svg#ProductSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../font/ProductSans-BoldItalic.eot");
  src: url("../font/ProductSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/ProductSans-BoldItalic.woff2") format("woff2"), url("../font/ProductSans-BoldItalic.woff") format("woff"), url("../font/ProductSans-BoldItalic.ttf") format("truetype"), url("../font/ProductSans-BoldItalic.svg#ProductSans-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Size Settings */
:root {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  --font-size--small: 1.4rem;
  /* 14px */
  --font-size--normal: 1.8rem;
  /* 18px */
  --font-size--large: 2.2rem;
  /* 22px */
  --line-height--small: calc(var(--font-size--small) * 1.5);
  --line-height--normal: calc(var(--font-size--normal) * 1.5);
  --line-height--large: calc(var(--font-size--large) * 1.5);
}

/* Global */
body {
  font-family: "Product Sans", Arial, sans-serif;
  font-size: var(--font-size--normal);
  line-height: var(--line-height--normal);
}

/* Heading Settings */
.heading {
  margin: 0;
  font-family: "Product Sans", Arial, sans-serif;
  font-weight: 700;
}

.h1 {
  font-size: 3.8rem;
  line-height: calc(3.8rem * 1.2);
}

.h2 {
  font-size: 2.4rem;
  line-height: calc(2.4rem * 1.2);
}

.h3 {
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
}

@media (min-width: 900px) {
  .h1 {
    font-size: 4.8rem;
    line-height: calc(4.8rem * 1.2);
  }

  .h2 {
    font-size: 3.2rem;
    line-height: calc(3.2rem * 1.2);
  }

  .h3 {
    font-size: 2.4rem;
    line-height: calc(2.4rem * 1.2);
  }
}
/*********************
// Colors
*********************/
:root {
  --color-main: #222;
  --color-second: #FFFAF1;
}

.dark-mode {
  --color-main: #FFFAF1;
  --color-second: #222;
}

/*********************
// Helpers
*********************/
/* Auto-prefixer */
/*
.selector {
  @include prefix((
    column-count: 3,
    column-gap: 1.5em,
    column-rule: 2px solid hotpink
  ), webkit moz);
}
*/
/*********************
// Containers
*********************/
/*********************
// Buttons
*********************/
.btn {
  display: inline-block;
  color: var(--color-main);
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.btn-third {
  position: relative;
  padding: 8px 16px;
  border: 1px solid var(--color-main);
}
.btn-third svg {
  position: absolute;
  top: 50%;
  right: -16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: var(--color-main);
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.btn-third::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-main);
  -webkit-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.btn-third:hover {
  color: var(--color-second);
}
.btn-third:hover svg {
  right: -24px;
  opacity: 1;
}
.btn-third:hover::before {
  width: 100%;
}

/* Components */
/*********************
// Main
*********************/
body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 8px;
  background-color: var(--color-second);
  color: var(--color-main);
  -webkit-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
@media (min-width: 900px) {
  body {
    padding: 16px;
  }
}

main {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 48px 1fr;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 2px solid var(--color-main);
}
@media (min-width: 900px) {
  main {
    grid-template-rows: 64px 1fr;
  }
}

/*********************
// Header
*********************/
.header {
  display: grid;
  grid-template-columns: auto 1fr 48px;
  border-bottom: 2px solid var(--color-main);
}
@media (min-width: 900px) {
  .header {
    grid-template-columns: auto 1fr 64px 64px;
  }
}

.header__title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 2px solid var(--color-main);
}

.header__summary {
  display: none;
}
@media (min-width: 900px) {
  .header__summary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-right: 2px solid var(--color-main);
  }
}

.header__summary-item {
  position: absolute;
  top: 250%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  -webkit-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.header__summary-item.active {
  top: 50%;
}
.header__summary-item.old-active {
  top: -150%;
}

.header__step {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__switch-color-mode {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-left: 2px solid var(--color-main);
}
.header__switch-color-mode svg {
  position: absolute;
  top: 250%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  fill: var(--color-main);
  -webkit-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.header__switch-color-mode svg.active {
  top: 50%;
}
@media (min-width: 900px) {
  .header__switch-color-mode svg {
    width: 32px;
    height: 32px;
  }
}

/*********************
// Steps
*********************/
.steps {
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.steps::-webkit-scrollbar {
  display: none;
}

.step {
  box-sizing: content-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  scroll-snap-align: start;
}
.step:not(:first-child) {
  border-top: 2px solid var(--color-main);
}

/********* Step 1 *********/
.step-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 900px) {
  .step-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.step-1__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-main);
}
@media (min-width: 900px) {
  .step-1__content {
    order: 2;
    border-bottom: none;
    border-left: 1px solid var(--color-main);
  }
}

.step-1__content-wrap {
  width: 100%;
  max-width: 420px;
}

.step-1__content-txt {
  margin: 8px 0 0 0;
}

.step-1__content-btn {
  margin: 32px 0 0 0;
}

.step-1__pattern {
  padding: 16px;
  border-top: 1px solid var(--color-main);
}
@media (min-width: 900px) {
  .step-1__pattern {
    border-top: none;
    border-right: 1px solid var(--color-main);
  }
}

.step-1__pattern-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.step-1__pattern-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.step-1__pattern-item-inner {
  width: 8px;
  height: 8px;
  background-color: var(--color-main);
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
