/*********************
// Breakpoints
*********************/

/* Define breakpoints */

$screen-sm-min: 600px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;


/* Define media query */

// Small devices
@mixin sm_up {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md_up {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg_up {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd_up($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}
