/*********************
// Buttons
*********************/

.btn {
  overflow: hidden;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  @include prefix((
    transition: all 300ms ease-in
  ), webkit ms);
}

.btn-main {
  position: relative;
  padding: 8px 24px 8px 16px;
  border: 1px solid var(--color-main);
  color: var(--color-second);
  background-image: linear-gradient(var(--color-main), var(--color-main));
  background-size: 100% 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  @include prefix((
    transition: all 300ms ease-in
  ), webkit ms);
  svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:hover {
    color: var(--color-main);
    background-size: 100% 0;
  }
}

.btn-second {

}

.btn-third {

}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-main);
}
