/*********************
// Colors
*********************/

$color-dark: #222;
$color-white: #FFFAF1;

:root {
  --color-main: #{$color-dark};
  --color-second: #{$color-white};
}

.dark-mode {
  --color-main: #{$color-white};
  --color-second: #{$color-dark};
}
