/*********************
// Header
*********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 64px;
  border-bottom: 2px solid var(--color-main);
}

.header__title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 2px solid var(--color-main);
}

.header__switch-color-mode {
  position: relative;
  width: 64px;
  overflow: hidden;
  border-left: 2px solid var(--color-main);
}
