/*********************
// Header
*********************/

.header {
  display: grid;
  grid-template-columns: auto 1fr 48px;
  height: 48px;
  border-bottom: 2px solid var(--color-main);
  @include md_up {
    grid-template-columns: auto 1fr 64px 64px;
    height: 64px;
  }
}

.header__title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 2px solid var(--color-main);
}

.header__summary {
  display: none;
  @include md_up {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-right: 2px solid var(--color-main);
  }
}

.header__summary-item {
  position: absolute;
  top: 250%;
  left: 50%;
  @include prefix((
    transform: translate(-50%,-50%)
  ), webkit ms);
  max-width: 100%;
  transition: all 300ms ease-out;
  &.active {
    top: 50%;
  }
  &.old-active {
    top: -150%;
  }
}

.header__step {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__switch-color-mode {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-left: 2px solid var(--color-main);
  svg {
    position: absolute;
    top: 250%;
    left: 50%;
    @include prefix((
      transform: translate(-50%,-50%)
    ), webkit ms);
    width: 28px;
    height: 28px;
    fill: var(--color-main);
    transition: all 300ms ease-out;
    &.active {
      top: 50%;
    }
    @include md_up {
      width: 32px;
      height: 32px;
    }
  }
}
