/*********************
// Main
*********************/

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 8px;
  background-color: var(--color-second);
  color: var(--color-main);
  @include prefix((
    transition: all 300ms ease-out
  ), webkit ms);
  @include md_up {
    padding: 16px;
  }
}

main {
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 48px 1fr;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 2px solid var(--color-main);
  @include md_up {
    grid-template-rows: 64px 1fr;
  }
}

.main-content {
  position: relative;
}
