/*********************
// Main
*********************/

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 8px;
  background-color: var(--color-second);
  color: var(--color-main);
  transition: all 300ms ease-out;
  @include md_up {
    padding: 16px;
  }
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-main);
}
