/*********************
// Steps
*********************/

.steps {
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.step {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-main);
    @include prefix((
      transition: all 1000ms linear
    ), webkit ms);
  }
  &.active {
    top: 0;
  }
  &.show::before {
    top: -2px;
  }
}


/********* Step 1 *********/

.step-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  @include md_up {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.step-1__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-main);
  @include md_up {
    order: 2;
    border-bottom: none;
    border-left: 1px solid var(--color-main);
  }
}

.step-1__content-wrap {
  width: 100%;
  max-width: 420px;
  @include md_up {
    max-width: 520px;
  }
}

.step-1__content-txt {
  margin: 8px 0 0 0;
}

.step-1__content-btn {
  margin: 32px 0 0 0;
}

.step-1__pattern {
  overflow: hidden;
  padding: 16px;
  border-top: 1px solid var(--color-main);
  @include md_up {
    border-top: none;
    border-right: 1px solid var(--color-main);
  }
}

.step-1__pattern-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.step-1__pattern-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  &:nth-child(4n+1) .step-1__pattern-item-inner {
    animation: 2s linear infinite opacity;
  }
  &:nth-child(4n+2) .step-1__pattern-item-inner {
    animation: 2.8s linear infinite opacity;
  }
  &:nth-child(4n+3) .step-1__pattern-item-inner {
    animation: 2.4s linear infinite opacity;
  }
  &:nth-child(4n+4) .step-1__pattern-item-inner {
    animation: 3.2s linear infinite opacity;
  }
}

.step-1__pattern-item-inner {
  width: 8px;
  height: 8px;
  background-color: var(--color-main);
  border-radius: 50%;
}


/********* Step 2 *********/

.step-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  @include md_up {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }
}

.step-2__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-main);
  @include md_up {
    border-bottom: none;
    border-right: 1px solid var(--color-main);
  }
}

.step-2__summary {
  list-style: none;
  margin: 0;
  padding: 0;
}

.step-2__summary-item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 0;
  font-size: var(--font-size--large);
  line-height: var(--line-height--large);
  @include md_up {
    padding: 16px;
  }
  &:hover .step-2__summary-item-nb {
    color: var(--color-second);
    background-size: 100% 100%;
  }
}

.step-2__summary-item-nb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--color-main);
  font-size: var(--font-size--small);
  line-height: var(--line-height--small);
  letter-spacing: 0;
  background-image: linear-gradient(var(--color-main), var(--color-main));
  background-size: 0 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  @include prefix((
    transition: all 150ms ease-in
  ), webkit ms);
  @include md_up {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  @include lg_up {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.step-2__pattern {
  padding: 16px;
  border-top: 1px solid var(--color-main);
  @include md_up {
    border-top: none;
    border-left: 1px solid var(--color-main);
  }
}

.step-2__pattern-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  @include md_up {
    flex-direction: column;
  }
}

.step-2__pattern-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  @include md_up {
    width: 100%;
    height: 60%;
  }
}

.step-2__pattern-item-inner {
  position: absolute;
  top: 50%;
  left: 0;
  @include prefix((
    transform: translate(-50%,-50%)
  ), webkit ms);
  width: 32px;
  height: 32px;
  background-color: var(--color-main);
  animation: 2400ms ease-in-out infinite translate_left_right;
  @include md_up {
    top: 0;
    left: 50%;
    width: 48px;
    height: 48px;
    animation: 3600ms ease-in-out infinite translate_top_bottom;
  }
  @include lg_up {
    width: 64px;
    height: 64px;
  }
}


/********* Step 3 *********/

.step-3 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  @include md_up {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.step-3__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-main);
  border-top: 1px solid var(--color-main);
  @include md_up {
    border-bottom: none;
    border-right: 1px solid var(--color-main);
    border-top: none;
    border-left: 1px solid var(--color-main);
  }
  &:first-child {
    border-top: none;
    border-left: none;
  }
  &:last-child {
    border-bottom: none;
    border-right: none;
  }
}

.step-3__content-list {
  margin: 16px 0 0 0;
  padding-left: 24px;
  @include md_up {
    margin: 32px 0 0 0;
  }
}

.step-3__content-list-item {
  padding: 8px 0;
  font-size: var(--font-size--large);
  line-height: var(--line-height--large);
  @include md_up {
    padding: 16px 0;
  }
}


/********* Step 4 *********/

.step-4__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 16px;
}

.step-4__content-item {
  text-align: center;
  padding: 24px 0;
  @include sm_up {
    padding: 32px 0;
  }
  @include md_up {
    padding: 40px 0;
  }
  @include lg_up {
    padding: 56px 0;
  }
}


/********* Step 5 *********/

.step-5 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  @include md_up {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.step-5__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-main);
  border-top: 1px solid var(--color-main);
  @include md_up {
    border-bottom: none;
    border-right: 1px solid var(--color-main);
    border-top: none;
    border-left: 1px solid var(--color-main);
  }
  &:first-child {
    border-top: none;
    border-left: none;
  }
  &:last-child {
    border-bottom: none;
    border-right: none;
  }
}

.step-5__content-list {
  margin: 16px 0 0 0;
  padding-left: 24px;
  @include md_up {
    margin: 32px 0 0 0;
  }
}

.step-5__content-list-item {
  padding: 8px 0;
  font-size: var(--font-size--normal);
  line-height: var(--line-height--normal);
  @include md_up {
    font-size: var(--font-size--small);
    line-height: var(--line-height--small);
  }
  @include md_up {
    padding: 16px 0;
  }
}


/********* Step 6 *********/

.step-6__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 16px;
}

.step-6__content-item {
  text-align: center;
  padding: 24px 0;
  @include sm_up {
    padding: 32px 0;
  }
  @include md_up {
    padding: 40px 0;
  }
  @include lg_up {
    padding: 56px 0;
  }
}


/********* Step 7 *********/

.step-7__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 16px;
}

.step-7__content-item {
  text-align: center;
  padding: 24px 0;
  @include sm_up {
    padding: 32px 0;
  }
  @include md_up {
    padding: 40px 0;
  }
  @include lg_up {
    padding: 56px 0;
  }
}


/********* Step 8 *********/

.step-8__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 16px;
}

.step-8__content-item {
  text-align: center;
  padding: 24px 0;
  @include sm_up {
    padding: 32px 0;
  }
  @include md_up {
    padding: 40px 0;
  }
  @include lg_up {
    padding: 56px 0;
  }
}

.step-8__content-item-extra {
  display: block;
  margin-top: 8px;
  font-size: var(--font-size--large);
  line-height: var(--line-height--large);
  @include md_up {
    margin-top: 16px;
  }
}

/********* Step 9 *********/

.step-9__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.step-9__content-link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px 8px;
  border-bottom: 2px solid var(--color-main);
  text-align: center;
  background-image: linear-gradient(var(--color-main), var(--color-main));
  background-size: 0 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  @include prefix((
    transition: all 400ms ease-in
  ), webkit ms);
  &:first-child {
    border-top: 2px solid var(--color-main);
  }
  &:hover {
    color: var(--color-second);
    background-size: 100% 100%;
  }
  @include md_up {
    padding: 24px 8px;
  }
}
